.grid {
    display: grid;
}

.grid-columns-1fr-1fr {
    grid-template-columns: 1fr 1fr;
}

.grid-rows-auto {
    grid-template-rows: auto;
}

.grid-gap-1rem {
    gap: 1rem;
}

.grid-justify-start {
    justify-content: start;
}

.grid-align-start {
    align-content: start;
}
