.tab-content__short-answer-bar,
.tab-content__long-answer-bar{
    width: 25rem;
    border-bottom: 1px dotted gray;
    color: gray;
    font-size: 0.9rem;
    margin: 0;
    margin-bottom: 1rem;
}

.tab-content__long-answer-bar{
    width: 35rem;
}

.date-tab-container,
.time-tab-container{
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid lightgray;
    width: fit-content;
    margin-bottom: 1rem;
}
.tab-content__date-bar,
.tab-content__time-bar{
    width: 10rem;
    color: gray;
    font-size: 0.9rem;
    margin: 0;
}


.options-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.option-container{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    font-size: 0.9rem;
}

.option-container__option-bar{
    width: 100%;
    border: 0;
}

.option-container__option-bar:hover {
    border-bottom: 0.1rem solid lightgray;
}   

.option-container__option-bar:focus {
    outline: 0;
    border-bottom: 0.15rem solid var(--primary-color);
}   
.option-container__option-bar:focus + span{
    visibility: visible;
}   

.option-container__image-icon{
    visibility: hidden;
}

.option-container:hover .option-container__image-icon{
    visibility: visible;
}
.option-container:hover .add-option-container__add-option{
    border-bottom: 0.1rem solid lightgray;  
}

.add-option-container__add-option{
    color: gray;
    margin-right: 0.5rem;
}
.add-option-container__add-other{
    color: var(--secondary-color);
    padding: 0.5rem;
}
.add-option-container__add-other:hover{
    background-color: rgb(247, 253, 255);
    border-radius: 0.3rem;
}

.option-container__other-option{
    color: gray;
    width: 100%;
}
.option-container__other-option:hover{
    border-bottom: 0.1rem dotted gray;
}

.grade-icon,
.favorite-icon,
.thumb_up-icon{
    padding: 0.5rem 0;
}

.grade-icon{
    color: rgb(248, 194, 58);
}
.favorite-icon{
    color: red;
}
.thumb_up-icon{
    color: rgb(65, 65, 220);
}

.rating-container{
    display: flex;
    justify-content: space-around;
}