.file-upload-tab-main{
    width: 30rem;
}

.file-upload-tab__button{
    padding: 0.5rem;
}

.checkbox:hover{
    box-shadow: 0 0 0 0.25rem rgba(162, 162, 162, 0.2);
    border-radius: 100%;
    background-color: rgba(162, 162, 162, 0.2);
}

.checkbox--selected{
    color: var(--primary-color);
}

.rating-tab__show-folder-button{
    border: none;
    color: var(--secondary-color);
    padding: 0.5rem;
}
.rating-tab__show-folder-button:hover{
    background-color: rgba(26, 115, 232,0.1);
}