:root {
    --background-color: rgb(240, 235, 248); 
    --primary-color: rgb(103,58,153);
    --secondary-color:rgb(26, 115, 232);
    --font-gray: rgb(32, 33, 36);
    --border-gray: rgb(218,220,224);
}

*{
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.material-symbols-outlined{
    color: rgb(105, 105, 105);
}

body{
    background-color:var(--background-color);
    margin: 0;
    min-width: 45rem;
    min-height: 100vh;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 1rem 1.5rem 0 1.5rem;
    border-bottom: 0.1rem solid var(--border-gray);
    z-index: 1;
}

.navbar-upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem; 
}

.navbar-upper__left, .navbar-upper__right {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    width: fit-content;
}

.navbar-upper__icon{
    padding: 0.5rem;
    transition: background-color 0.2s;
}
.navbar-upper__icon:hover{
    border-radius: 100rem;
    background-color: rgb(240, 240, 240);
}

.google-forms-icon{
    height: 2rem;
    padding: 0;
}

.form-name-textbox{
    border: none;
    outline: none;
    height: 1.75rem;
    max-width: 11rem;
    min-width: 3rem;
    width: 100%;
    font-size: 1.1rem;
    flex-shrink: 1;
    color: var(--font-gray);
    transition: border 0.2s;
}

.form-name-textbox:focus{
    border-bottom: 0.15rem solid black; 
}

.publish-button{
    color: white;
    background-color: var(--primary-color);
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;
    border: none;
}

.navbar-lower{
    text-align: center;
}

.navbar-lower__button{
    border: none;
    color: var(--font-gray);
    background-color: white;
    font-size: 0.9rem;
    font-weight: 500;
}

.navbar-lower__button--selected{
    border-bottom: 0.15rem solid var(--primary-color);
    color: var(--primary-color);
}
