.icon-button{
    border-radius: 100%;
    padding: 0.4rem;
}
.icon-button:hover{
    background-color: rgba(162, 162, 162, 0.2);
}

.material-symbols-outlined{
    color: rgb(95, 99, 104);
}

.option{
    width: 10rem;
    min-width: max-content;
    padding: 0.5rem;
}
