.tab__title-bar{
    width: 100%;
    border-bottom: 0.1rem solid var(--border-gray);
}

.tab__description-bar{
    width: 100%;
    border-bottom: 0.1rem solid var(--border-gray);
}

.tab__title-bar:focus,
.tab__description-bar:focus {
    border-bottom: 0.15rem solid var(--primary-color);
}  